html {
    font-family: Arial, Helvetica, sans-serif;
}

#topbar {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-bottom: 10px;
}

#gamebox {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
}


#questionbox {
    display: flex;
    align-items: center;
    justify-content:center;
    gap: 20px;
    font-size: large;
    margin-bottom: 30px;
    border-radius: 8px;
    background-color: white;
}

.questionfield {
    border-radius: 10px;
    width: 150px;
    height: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-weight: bolder;
    font-size: x-large;
}

#function > p {
    margin: 0px;
}

#startbox {
    background-color: #2ecc71;
    color: white;
    height: 50px;
    padding: 5px 15px 5px 15px;
    border-radius: 8px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: x-large;
}

#startbox:hover {
    background-color: #27ae60;
}

#startbox:active {
    background-color: #7f8c8d;
}

#function {
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}


#answerbox {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100%;
   row-gap: 20px;
}

.answeroption {
    display: flex;
    flex-basis: calc(50% - 40px);  
    /* width: 300px; */
    align-items: center;
    justify-content: space-around;
    background-color: #ecf0f1;
    height: 80px;
    border-radius: 8px;
}

.answeroption:hover {
    background-color: #bdc3c7;
}

.answeroption:active {
    background-color: #95a5a6;
}

#magicButton {
    background-color: #a6acaf;
    color: white;
    height: 30px;
    padding: 5px 15px 5px 15px;
    border-radius: 8px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#magicButton:hover {
    background-color: #797d7f;
}

#magicButton:active {
    background-color: #626567;
}

#gameOverBox {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#progressbar {
    display: none;
    margin-left: 50px;
    margin-right: 50px;
    width: 80%;
    justify-content: flex-start;
}

#progress {
    border-top-left-radius: 32px;
    border-bottom-left-radius: 32px;
}

#topbarcontents {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

#scorebar {
    display: flex;
    justify-content: space-between;
    padding: 5px 10px 0px 10px;
}

#topbarcontents > p {
    text-align: center;
}
