
body, html {
    margin: 0;
    padding: 0;
    overflow: hidden; /* Optional: Prevent scrolling */
  }

h1, h2, p {
    color: #2b1e30;
    font-family: 'Courier New', Courier, monospace;
}

.popupversion > p {
    color:#a996b0;
}

button {
    background-color: #2b1e30;
    color: white;
    border: 1px solid white;
    border-radius: 3px;
    width: 100px;
    height: 30px;
    font-size: 24px;

}

button:hover {
    background-color: #7e6389;
}

button:active {
    background-color: black;
}




.header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    font-family: 'Courier New', Courier, monospace;
    height: 50px;
    margin: 10px;
}

.buttons {
    display: flex;
    gap: 10px;
}

.gamewindow {
    background-color: red;
    border: 2px solid red;
}

#hero {
    width: 40px;
    height: 60px;
    position: absolute;
    display: none;
}

#glassbox {
    width: 80px;
    height: 80px;
    position: absolute;
   
}

canvas {
    margin: 10px;
    border: 2px solid #2b1e30;
    border-radius: 5px;
}

#score {
    font-size: larger;
    padding-right: 10px;
}

.popup {
    display: none;
    position: absolute;
    width: 40%;
    top:30%;
    left:30%;
    border: 2px solid #2b1e30;
    border-radius: 3px;
    padding: 10px;
    z-index: 1;
    background-color: white;
}

.gameover {
    display: none;
    position: absolute;
    width: 40%;
    top:30%;
    left:30%;
    border: 2px solid #2b1e30;
    border-radius: 3px;
    padding: 10px;
    z-index: 2;
    background-color: white;
}

.gameovereset {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.restartGame {
    align-self: center;
}



.popupheader {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.title {
    display: flex;
    align-items: center;
    gap: 20px;
}

.title > img {
    height: 20px;
    width: 20px;
}

#close {
    border: 1px solid #2b1e30;
    padding: 3px;
    border-radius: 1px;
}

.popupcontent {
    overflow-y: scroll;
}

#close.hover {
    color: #7e6389;
}
